/* google font */
@import url('https://fonts.googleapis.com/css2?family=Edu+TAS+Beginner&family=Nunito&family=Poppins:wght@400;500;700&display=swap');

body{
    font-family: 'Edu TAS Beginner', cursive;

    font-family: 'Nunito', sans-serif;

    font-family: 'Poppins', sans-serif;
    
}
/*****************************
        header section 
-*****************************/
header{
    display: flex;
    justify-content: center;
    margin-top: 40px;
}
.container{
    width: 1348px;
    height: 620px;
    background-color: #161616;
    border-radius: 30px;
}
.top-banner{
    display: flex;
    height: 100%;
}
.quote{
    width: 50%;
    padding: 100px;
    
}
.quote h1{
    color: #FFFFFF;
    font-size: 70px;
    width: 550px;
    height: 240px;
    margin: 0;
    line-height: 80px;
}
.quote p{
    color: #FFFFFF;
    width: 506px;
    height: 78px;
    font-size: 16px;
    line-height: 26px;
}
.quote a{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    background-color: #DD0000;
    color: #FFFFFF;
    padding: 15px 25px;
    margin-top: 30px;
    width: 100px;
}
.fa-greater-than{
    font-size: 25px;
    
}
.player{
    width: 50%;
    margin-top: 25px;
}
.player img{
    height: 100%;
}
/**************************
        Main Area
******************************/
main{
     
}
.mid-area{
    display: flex;
    justify-content: center;
    margin-top: 130px;
}
.info-zone{
    background-color: black;
    width: 312px;
    height: 250px;
    border: 2px solid;
    border-radius: 10px;
    margin-right: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.upcoming, .groups{
    background-color: #FFFFFF;
    text-align: center;
    margin: 0 25px;
    padding: 15px 0;
    border-radius: 8px;
}
.upcoming a, .groups a{
    text-decoration: none;
    color: black;
}
.blog{
    background-color: #DD0000;
    text-align: center;
    margin: 0 25px;
    padding: 15px 0;
    border-radius: 8px;
}
.blog a{
    text-decoration: none;
    color: #FFFFFF;
}
.all-blogs{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 30px;
    row-gap: 20px;
}
.blog-review{
    width: 312px;
    height: 362px;
    border: 1px solid gray;
    border-radius: 10px;
}
.blog-image{
    width: 340px;
    margin-bottom: 10px;
}
.blog-title{
    margin-top: 15px;
    margin-left: 15px;
}
#transfer{
    text-decoration: none;
    color: black;
    border: 1px solid #161616;
    border-radius: 5px;
    padding: 4px 16px;
}
.icons{
    margin-left: 15px;
}
.fa-clock{
    color: lightcoral;
    margin-right: 50px;
}
.fa-message{
    color: teal;
}
.view{
    margin-top: 50px;
    text-align: center;
}
.view a{
    text-decoration: none;
    background-color: #DD0000;
    color: #FFFFFF;
    padding: 10px 25px;
    border-radius: 5px;
    visibility: hidden;
}

/*************************
        Footer area 
**************************/
footer{
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 400px;
    margin-top: 100px;
    background-color: #161616;
}
footer h1{
    color: #FFFFFF;
}
#break{
    color:  #84888b48;
    border: 1px solid;
    width: 85%;
}
.footer-menu ul{
    color: #FFFFFF;
    list-style: none;
    display: flex;
    justify-content: center;
}
.footer-menu ul li{
    color: #979797;
    margin: 0 20px;
}
.social-media a{
    text-decoration: none;
    color: #69DDF0;
    font-size: 40px;
    margin-right: 20px;
}

/****************************
    Media Queries 
***************************/
/*** Mobile Devices ***/
@media only screen and (max-width: 688px) {
    header{
        margin: 0;
    }
    .container{
        width: 100%;
        height: 720px;
    }
    .top-banner{
        display: flex;
        justify-content: center;
        flex-direction: column;
        height: 720px;   
    }
    .quote{
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        width: 100%;
        margin: 0;
        padding: 0;
    }
    .quote h1{
        font-size: 40px;
        height: 150px;
        width: 450px;
        text-align: center;
        line-height: normal;
        
    }
    .quote p{
        text-align: center;
        height: 100px;
    }
    .quote a{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        text-decoration: none;
        background-color: #DD0000;
        color: #FFFFFF;
        font-size: 25px;
        padding: 15px 25px;
        margin: 0px;
        width: 200px;

    }
    .player{
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }
    main{
        display: flex;
        justify-content: center;
        width: 100%;
    }
    .mid-area{
        display: flex;
        flex-direction: column;
        width: 100%;
        margin-top: 20px;
    }
    .info{
        display: flex;
        justify-content: center;
    }
    .info-zone{
        display: flex;
        flex-direction: column;
        width: 30%;
        height: 200px;
        border: 0;
        background-color: #FFFFFF;
    }
    .upcoming, .groups, .blog{
        border: 2px solid gray;
        height: 50px;
        width: 200px;
        margin: 10px 0;
        padding: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        
    }
    .all-blogs{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }
    .blog-review{
        width: 100%;
        height: 500px;
        border: 1px solid gray;
        border-radius: 10px;
    }
    .blog-image {
        width: 100%;
    }
    .blog-image img{
        width: 100%;
    }
    .view a{
        visibility: hidden;
    }
    footer{
        width: 100%;
        height: auto;
        margin-top: 0;
    }
    .footer-menu{
        margin: 0;
        display: flex;
        justify-content: center;
    }
    .footer-menu ul{
        padding-left: 0;
        display: flex;
        flex-direction: column;
    }
    .footer-menu ul li{
        width: 150px;
        margin: 10px 25px;
    }
}

/******** Tablet View ********/

@media only screen and (min-width: 688px) and (max-width: 992px) {
    .container{
        width: 100%;
        height: 620px;
    }
    .top-banner{
        display: flex;
    }
    .quote{
        width: 40%;
    }
    .quote h1{
        width: 420px;
        height: 200px;
        font-size: 48px;
        line-height: 60px;
    }
    .quote p{
        color: #FFFFFF;
        width: 400px;
        height: 120px;
        font-size: 14px;
        line-height: 26px;
    }
    .player{
        width: 50%;
    }
    .player img{
        width: 100%;
        height: 100%;  
    }
    main{
        display: flex;
        justify-content: center;
    }
    .mid-area{
        display: flex;
        flex-direction: column;
    }
    .info-zone{
        display: flex;
        flex-direction: row;
        width: 100%;
        height: 100px;
        background-color: #FFFFFF;
        border: 0;
    }
    .upcoming, .groups, .blog{
        border: 2px solid gray;
        height: 50px;
        width: 200px;
        margin: 0;
        padding: 0;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .all-blogs{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
    .view a{
        visibility: visible;
    }
    footer{
        width: 100%;
    }
    .footer-menu{
        margin: 0;
    }
    .footer-menu ul{
        padding-left: 0;
        display: flex;
        flex-flow: wrap;
    }
    .footer-menu ul li{
        width: 150px;
        margin: 10px 25px;
    }
}